body{
    margin:0em;
    height: 150em;
    background-color: rgb(61, 58, 58);
    overflow:hidden;
}

div{
    background: url("https://cdn4.iconfinder.com/data/icons/bold-purple-free-samples/32/Like_Love_Heart_Appreciate_Enabled_Feelings-512.png") ;
    width: 100px;
    height:100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    animation: animate 7s linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 0.7;
        filter: hue-rotate(0);
    }
    100% {
        transform: translate(-50%, -500%);
        opacity: 0.5;
        filter: hue-rotate(700deg);
    }
}
